[Unit]
Description=Start Windows 7 VM 3 AM on Monday

[Timer]
OnCalendar=Mon *-*-* 03:00:00 America/Chicago
Persistent=true

[Install]
WantedBy=timers.target
